<!-- <div class="panel-header panel-header-sm">
</div> -->

<nav class="navbar" style="background-color: teal;">
    <span class="navbar-text">
      Inducción Hospital de La Serena
    </span>
  </nav>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="background-color: whitesmoke;">
        <div class="card-header">
          <h5 class="title">Evaluación</h5>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid 
            ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <br>
            <br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
          <div class="col-sm-6" style="background-color:whitesmoke;">
            <br>
            <p class="subtitle">1. Pregunta preguntona sobre algo que quieran preguntar jejejeje</p>
              <form>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                  <label class="custom-control-label" for="customRadio1">Custom radio</label>
                </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                  <label class="custom-control-label" for="customRadio2">Custom radio</label>
                </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                    <label class="custom-control-label" for="customRadio3">Custom radio</label>
                  </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                    <label class="custom-control-label" for="customRadio4">Custom radio</label>
                  </div>
                <br>
                <br>
              </form>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6" style="background-color:whitesmoke;">
                <br>
              <p class="subtitle">1. Pregunta preguntona sobre algo que quieran preguntar jejejeje</p>
                <form>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                    <label class="custom-control-label" for="customRadio1">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                    <label class="custom-control-label" for="customRadio2">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                      <label class="custom-control-label" for="customRadio3">Custom radio</label>
                    </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                      <label class="custom-control-label" for="customRadio4">Custom radio</label>
                    </div>
                  <br>
                  <br>
                </form>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-6" style="background-color:whitesmoke;">
                <br>
              <p class="subtitle">1. Pregunta preguntona sobre algo que quieran preguntar jejejeje</p>
                <form>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                    <label class="custom-control-label" for="customRadio1">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                    <label class="custom-control-label" for="customRadio2">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                      <label class="custom-control-label" for="customRadio3">Custom radio</label>
                    </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                      <label class="custom-control-label" for="customRadio4">Custom radio</label>
                    </div>
                  <br>
                  <br>
                </form>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-6" style="background-color:whitesmoke;">
                <br>
              <p class="subtitle">1. Pregunta preguntona sobre algo que quieran preguntar jejejeje</p>
                <form>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                    <label class="custom-control-label" for="customRadio1">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                    <label class="custom-control-label" for="customRadio2">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                      <label class="custom-control-label" for="customRadio3">Custom radio</label>
                    </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                      <label class="custom-control-label" for="customRadio4">Custom radio</label>
                    </div>
                  <br>
                  <br>
                </form>
              </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-6" style="background-color:whitesmoke;">
                <br>
              <p class="subtitle">1. Pregunta preguntona sobre algo que quieran preguntar jejejeje</p>
                <form>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                    <label class="custom-control-label" for="customRadio1">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                    <label class="custom-control-label" for="customRadio2">Custom radio</label>
                  </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                      <label class="custom-control-label" for="customRadio3">Custom radio</label>
                    </div>
                  <br>
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                      <label class="custom-control-label" for="customRadio4">Custom radio</label>
                  </div>
                </form>
                <br>
              </div>
          </div>
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-block">Terminar Evaluación</button>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
      <div class="copyright">
        &copy;
        {{ 2020 }}, Hecho con 💖
      </div>
    </div>
  </footer>
















    <!-- <div class="container-fluid">
    <div class="row">
          <div class="col-sm-6" style="background-color: blue;">
              <h5 class="title"></h5>
              <form>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                  <label class="custom-control-label" for="customRadio1">Custom radio</label>
                </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                  <label class="custom-control-label" for="customRadio2">Custom radio</label>
                </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                    <label class="custom-control-label" for="customRadio3">Custom radio</label>
                  </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                    <label class="custom-control-label" for="customRadio4">Custom radio</label>
                  </div>
                <br> 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-body">
          
      </div>
    </div> -->

    <!-- <div class="container" style="background-color: blue;">
      <div class="row">
        <div class=".col-md-4"></div>
        <div class="card">
            <h5 class="title"></h5>
              <form>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
                  <label class="custom-control-label" for="customRadio1">Custom radio</label>
                </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="customRadio2" name="example1">
                  <label class="custom-control-label" for="customRadio2">Custom radio</label>
                </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio3" name="example1">
                    <label class="custom-control-label" for="customRadio3">Custom radio</label>
                  </div>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio4" name="example1">
                    <label class="custom-control-label" for="customRadio4">Custom radio</label>
                  </div>
                <br> 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
              <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
        </div>
    </div> -->
