<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
          <div class="card" style="background-color: whitesmoke;">
            <div class="card-header">
              <h5 class="title">¿Qué puedo hacer en esta plataforma?</h5>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid 
                ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background-color: whitesmoke;">
            <div class="card-header">
              <h5 class="title">¿Cómo puedo realizar una evaluación?</h5>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid 
                ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background-color: whitesmoke;">
            <div class="card-header">
              <h5 class="title">¿Puedo descargar todo el material de estudio que desee?</h5>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid 
                ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="background-color: whitesmoke;">
            <div class="card-header">
              <h5 class="title">¿Cuántas veces puedo realizar una evaluación?</h5>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid 
                ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
</div>
